<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h5><b>会員一覧</b></h5>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.family_name+customer.first_name, admin_customer_path(customer.id)%></td>
              <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                 <p class="text-success"><b>有効</b></p>
              <% else %>
                 <p class="text-secondary"><b>退会</b></p>
              <% end %>
            </td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <%= paginate @customers %>
    </div>
    <div class="col-4"></div>
  </div>
</div>