<div class="genre_search">

     <div  class="genre__index">
        <div>
            <div>ジャンル検索</div>
        </div>

        <%= form_with url: genre_search_path, method: :get do |f| %>
        <% @genres.each do |genre| %>
          <div class="genre__index__menu">
            <div><%= link_to genre.name, genre_search_path(genre_id: genre.id), class: "genre__button", method: :get %></div>
          </div>
        <% end %>
      <% end %>
     </div>


</div>


<style>
.genre_search{
    float: inline-start;
}
 .genre__button{
   text-decoration: none;
  }
  .genre__index{
     display: inline-block;
     flex-direction: column;
     padding: 3%;
     margin: 15px;
     width:150px;
     height:300px;
     border: 4px solid #00bfff;
     border-style: dotted;
  }
  .genre__index a:visited{
      color: black;
  }
  .genre__index__menu{
      padding: 7% 0%;
  }
</style>