<h1>注文履歴詳細</h1>

<table>
  <p>注文情報</p>
  <tr>
    <th>注文日</th>
    <td><%= odre.create_at.strftime('%Y/%m/%d')%></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td>
     <%= oredr.post_code %><br>
     <%= oredr.residence %><br>
     <%= oredr.name %>
    </td>
  </tr>
  <tr>
     <th>支払い方法</th>
     <td>@oredr.payment_method</td>
  </tr>
  <tr>
     <th>ステータス</th>
     <td>@oredr.status</td>
  </tr>
</table>

<p>請求書</p>