
<!--会員側商品一覧ページ-->

<h1>商品一覧</h1>
<h1>商品一覧</h1>


<div class="container">
  <div class="row">

    <% @items.each do |item| %>

      <div class="col-lg-3">

        <div><%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image(160,160) %>
             <% end %>
        </div>
        <div><%=item.name %></div>
        <div>¥ <%= item.add_tax_excluding_tax.to_s(:dalimited) %></div>
      </div>

    <% end %>

  </div>
</div>