
<!--顧客側商品詳細ページ-->

<div class="container">
  <div class="row">

    <div class="col-lg-4">
      <div><%= image_tag @item.get_image(300,300) %></div>
    </div>

    <div class="col-lg-8">
      <h2><b><%= @item.name %></h2>
      <p><%= @item.explanation %></p>
      <h4><big>¥ <%= @item.add_tax_excluding_tax.to_s(:dalimited) %></big><font size="3"> (税込)</font></h4>
      <p>個数選択(仮) カートに入れる(仮)</p>
    </div>

  </div>
</div>