<li>
  <button type="button" class="btn btn-light">
   <%= link_to "About", homes_about_path %>
</button>
</li>
<li>
  <button type="button" class="btn btn-light">
   <%= link_to "商品一覧", items_path %>
</button>
</li>
<li>
  <button type="button" class="btn btn-light">
   <%= link_to "新規登録",  new_user_registration_path %>
</button>
</li>
<li>
  <button type="button" class="btn btn-light">
   <%= link_to "ログイン",  new_user_session_path %>
</button>
</li>

